* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 80%;
  margin: 50px Auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 600;
}

.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content {
  width: 50%;
  margin-right: 100px;
}

.banner-header {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}

.header-text {
  color: #3a3a3a;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn{
  color: #FFF;
font-weight: 600;
border:none;
background: #E02C6D;
padding:10px 24px;
font-size: 1.2rem;

}

.btn i{
  margin-left: 10px;
  
}

.btn-round{
  border-radius: 41px;
}

.banner-image {
  width: 50%;
  margin-left: 100px;
}

.banner-image img {
  width: 80%;
}


@media screen {
  
}
