* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  width: 80%;
  margin: 50px Auto;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav .logo {
  color: #3a3a3a;
  font-size: 1.5rem;
  font-weight: 700;
}
nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-right: 20px;
}

nav ul li a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 600;
}

.banner {
  margin: 100px auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-content {
  width: 70%;
}

.banner-header {
  color: #3a3a3a;
  font-size: 52px;
  font-weight: 700;
}

.header-text {
  color: #3a3a3a;
  font-weight: 600;
  margin-bottom: 20px;
}

.btn {
  color: #fff;
  font-weight: 600;
  border: none;
  background: #e02c6d;
  padding: 10px 24px;
  font-size: 1.2rem;
}

.btn i {
  margin-left: 10px;
}

.btn-round {
  border-radius: 41px;
}

.banner-image {
  width: 80%;
  height: 100%;
  margin-left: 80px;
  padding-left: 20px;
  background-image: url("./images/Group\ 33091.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
}

.banner-image img {
  width: 70%;
}

/* sponsor section start */

.sponsor {
  width: 80%;
  margin: 0 auto 50px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding: 30px 0;
  display: flex;
  justify-content: space-around;
}

/* popular collection  */

.popular {
  width: 80%;
  margin: 50px auto;
}

.section-head {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
}

.popular-container {
  gap: 40px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.collection-card {
  /* width: 390px; */
  padding: 5px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.collection-img img {
  width: 100%;
}
.collection-text {
  width: 100%;
}

.card-head {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
}

.price {
  color: rgba(0, 0, 0, 0.87);
  font-size: 24px;
  font-weight: 400;
}

.star .fa {
  color: #fb8200;
}

.see-more {
  margin: 50px auto 50px;
  text-align: right;
  color: rgba(224, 44, 109, 0.95);
}

.feature-products {
  width: 80%;
  height: 400px;
  margin: 0 auto 50px;
  display: flex;
  align-items: center;
}

.feature-content {
  margin-left: 150px;
  width: 50%;
}

.feature-head {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
}

.feature-text {
  margin: 20px 100px 20px 0;
}

.feature-img {
  width: 33%;
}

.feature-img img {
  width: 100%;
}

.footer {
  padding: 100px 0;
  background-color: #0a0826;
  color: #fff;
  text-align: center;
}

.footer-heading {
  font-size: 24px;
  font-weight: 700;
}

.copy,
.right {
  color: #d9dbe1;
  font-size: 14px;
  font-weight: 700;
}

.social {
  margin-top: 20px;
}

.social .fa {
  background-color: #231f53;
  padding: 15px 17px;
  font-size: 24px;
  border-radius: 50%;
  margin: 0 10px;
}

@media screen and (max-width: 576px) {
  nav {
    flex-direction: column;
  }

  nav .logo {
    text-align: center;
    margin-bottom: 20px;
  }
  nav ul {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  nav ul li {
    margin-top: 10px;
    background-color: bisque;
    width: 300px;
    text-align: center;
    padding: 5px 0;
  }

  .banner {
    flex-direction: column-reverse;
  }

  .banner-content {
    width: 100%;
    margin: 20px auto;
    text-align: center;
  }

  .banner-header {
    color: #3a3a3a;
    font-size: 30px;
    font-weight: 700;
  }

  .header-text {
    color: #3a3a3a;
    font-weight: 600;
    margin: 20px 0;
  }

  .banner-image {
    width: 90%;
    height: 80%;
    margin: 0 0 20px;
    background-size: cover;
  }

  .sponsor {
    width: 90%;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .popular {
    width: 90%;
    margin-bottom: 50px;
  }

  .popular-container {
    grid-template-columns: 1fr;
  }

  .feature-products {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    margin: 150px auto 50px;
  }

  .feature-content {
    margin-left: 5px;
    width: 100%;
  }

  .feature-head {
    font-size: 24px;
  }

  .feature-text {
    width: 100%;
  }

  .feature-img {
    width: 95%;
    margin-top: 20px;
  }
}
